{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "arrowParens": "always",
    "proseWrap": "always",
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "lf"
}